<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<body>
    <%-include('base_menu') -%>
   
        <div class="container">
        <header class= "perfil" >
         <img class="perfil-foto" src ="https://github.com/ritas2022.png"/></a>
         <div class="titulo">
          <h1>Rita de Cássia Ferreira</h1>
          <h3>Estudante da Fatec - SJC Curso de Analise e Desenvolvimento de Software</h3>
        </div>
          </header>
        <main class= "projetos">
          <h3> Meus Projetos - API podem ser identificado no link Portfólio </h3>
             <br>

             Atualmente Trabalho a Empresa Atacadão SJC  - Desde : 2013<br>
             Cargo Atual : Aux. de Informática<br>
             Inicie na empresa trabalhando como operadora de caixa.<br>
             Estou no 5º Semestre do Curso de ADS.<br>            
             <h4>FRASE MOTIVACIONAL: COMECE ACREDITANDO QUE É POSSIVEL.</h4>          
          
            </main>
          </div>
      </body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>