<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<body>
    <%-include('base_menu') -%>
    <div>

  
        <h2>Rita de Cássia Ferreira</h2>
        <p>37 anos, formada  Técnica em Informatica - Univap 2002</p>
        <p>Estudante do 5º período de Análise e Desenvolvimento de Sistemas na Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal</p>
        <p>Trabalho na Empresa Atacadão ,São José dos Campos.</p>        
        <p>16-10-2013 até 01-09-2019 - Cargo: Operadora de Caixa .</p>
        <p>01-10-19  até a presente data  - Cargo: Aux.Informática .</p>
        
     

        
        </p>
    </div>
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>